<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="styles/style.css">
    
    <title>Document</title>
</head>
<body>

    <main class="fundo">
        <header>Cabeçalho Superior - Header</header>
        
        <section class="section__esquerda">
            section_esquerda
            <nav>NAV</nav>
            <aside>Publicidade</aside>
        </section>

        <section class="section__direita">
            section_direita
            <article>
                Article
                <h1>Título Article</h1>

                <p>Área para texto</p>

                <div>Área para imagem</div>
            </article>

        </section>

        <footer>Rodapé</footer>
    </main>    
</body>
</html>