#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    border: 1px solid white;
}

.logo {
    width: 10%;
    height: auto;
    transition: all 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #6fe8fd85);
}

span {
    color: #6fe8fd;
}

a {
    color: #21c0ff;
    text-decoration: none;
}