footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 100vw;
    height: 21.5vh;

    font-size: 16px;
    color: white;

    background-color: #292929;
}

.conteudo_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 15%;
    height: 100%;
}

.container_RedeSocial {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
}

.container_RedeSocial {
    width: 100%;
    height: 25%;
}

.container_RedeSocial img {
    width: auto;
    height: 100%;
}