/*  ESTILIZANDO HOME  */
.section_home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 90vw;
    height: 70vh;
    margin: auto
}

/*estilizando main HOME */
.section_home .conteudo_home {
    width: 55%;
}

.section_home .conteudo_home h1 {
    font-size: 64px;
    font-weight: 700;
}

.section_home .conteudo_home p {
    margin-top: 30px;
    font-size: 24px;
}


/* estilizando imagem HOME */
.section_home article{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40%;
    height: 100%;
}

.section_home article img{
    width: auto;
    height: 60%;
}

/* ESTILIZANDO ESCÓSIA */
.section_escocia {
    display: flex;
}

/* ESTILIZANDO MURALHA DA CHINA */
.section_MuralhaChina {
    display: flex;
}

/* ESTILIZANDO GRAND CANYON */
.section_GrandCanyon {
    display: flex;
}

/* ESTILIZANDO ARUBA */
.section_Aruba {
    display: flex;
}